// Color variables

$bgBody: #F5F5F5;
$bgSections: #FFFFFF;
$bgChat: #EBEBEB;
$colorText: #000000;
$secondColorText: #525252;
$colorPink: #EE26C2;
$colorBlue: #2676EE;
$bgColorBtnRefresh: #949494;
$bgColorBtnDownload: #F4D4ED;
$colorScroll: #B5B5B5;

// Size variables

$fsLarge: 24px;
$fsMedium: 18px;
$fsNormal: 16px;
$fsSmall: 15px;
$fsLittle: 12px;
$fsSmallest: 10px;


// Weight variables

$fwNormal: 400;
$fwMedium: 500;
$fwBold: 600;
